/*联系我们*/
.contact-us{margin-top: 100px; margin-bottom: 100px}
.font-title{font-size: 14px;
}
.contact-us img{width: 170px;height: 170px;}
.contact-us .qr-code{text-align: right;}
.font-phone{
	font-size: 14PX;color: #666;
}
.phone-num{font-size: 34px;color: #333;}
.font-address{font-size: 14px;color: #333}