/*顶部导航*/
.top-box {
	height: 50px;
	margin-bottom: 0;
	z-index: 16;
}

.top-box .navbar-collapse {
	border: none;
}
.top-box .navbar-brand {
	height: 100px;
}
.top-box .navbar-brand img {
	height: 100%;
	width: 100%；
}

.top-box .navbar-toggle {
	margin-top: 8px;
}

.top-box .navbar-nav {
	margin-top:15px !important;
}

.top-nav li a {
	line-height: 30px;
	font-size: 14px;
	text-align: center;
	/*background: #fff !important;*/
}

.top-nav li.active a,
.top-nav li a:hover {
	color: #4E97D9 !important;
}

.common-title {
	text-align: center;

}

.common-title h2 {
	font-size: 20px;
	margin-top: 0;
	margin-bottom: 10px;
}

.common-title span {
	display: block;
	font-size: 18px;
	color: #b2b2b2;
	margin-bottom: 15px;
}

.common-title p {
	text-align: center;
	font-size: 0;
	margin-bottom: 0;
}

.common-title p i {
	display: inline-block;
	width: 50px;
	height: 1px;
	margin: 0 2px;
	background: #a4a4a4;
}

.common-title p i:first-child {
	background: #009944;
}